.Footer {
  height: 40vh;
  width: 100%;
  background: url('http://www.freeiconspng.com/uploads/mountain-png-23.png');
  background-size: contain;
  background-repeat: repeat-x;
  background-position: bottom;
}
