@import url('https://fonts.googleapis.com/css?family=Kameron');

.ImageResult-container {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1%;
}

.ImageResult-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  border-bottom: 1px solid gray;
}

img {
  width: 100%;
}

.ImageResult-img-details {
  padding: 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.ImageResult-video {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(155, 2, 34);
  width: 30%;
  height: 50%;
  box-shadow: 0 1px 1px 1px gray;
  padding: 2.5% 0;

}

.ImageResult-video:hover {
  background-color: rgb(252, 3, 55)
}

.ImageResult-btn {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  font-family: 'Kameron';
}
