.ImageResult-container {
  min-height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1%;
}

.ImageResult-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 90%;
  border-bottom: 1px solid gray;
}

img {
  width: 100%;
}

.ImageResult-img-details {
  padding: 2%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.ImageResult-video {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
